div.volt_input
{
    display: block;
    text-align: center;
}
form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


.uart_options{
  display: flex;
align-items: center;
cursor: pointer;
justify-content: center;
flex-direction: column;
}
.uart_options button{
  width: 180px;
height: 65px;
margin: 10px;
background-color: blanchedalmond;
border-radius: 20px;  
font-size: 15px;
font-weight: 900;
color: black;

}

.uart_options button a{
  text-decoration: none;
  font-size: 15px;
font-weight: 900;
color: black;
}

.none{
  display: none;
}
.uart_options form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_output{
  border: 2px gray solid;
padding: 10px;
overflow-y: scroll;
height: 500px;
}

.des_output_logs{

  margin : 10px;
}